<div class="widgets">
  <div class="row">
    <div class="col-md-4">
      <nb-card>
      <nb-card-header>Switch Configuration for #{{ deviceId }}</nb-card-header>
      <nb-card-body>
        <form #switchConfigForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group" [ngClass]="{'has-error': (!name.valid && name.touched), 'has-success': (name.valid && name.touched)}">
              <label>Device Name</label>
              <input type="text" class="form-control" [(ngModel)]="deviceConfig.name" #name="ngModel" name="name" required maxlength="32">
          </div>
          <div class="form-group">
              <label>Select Button</label>
              <select class="form-control" [(ngModel)]="selectedButton" name="selected_button">
                <option *ngFor="let button of deviceConfig.buttons; let i = index" [value]="i">{{i+1}} - {{button.name}}</option>
              </select>
          </div>
          <p>&nbsp;</p>
          
          <div *ngFor="let button of deviceConfig.buttons; let i = index">
            <div *ngIf="selectedButton == i">
                <h4 class="grid-h">Button #{{i+1}} Configuration</h4>
                <div class="separator"></div>
                <div class="form-group" [ngClass]="{'has-error': (!buttonname.valid && buttonname.touched), 'has-success': (buttonname.valid && buttonname.touched)}">
                    <label>Button Name</label>
                    <input type="text" class="form-control" [(ngModel)]="button.name" name="button_name_{{i}}" #buttonname="ngModel" required maxlength="32">
                </div>
                <div class="form-group">
                    <label>Switch function</label>
                    <select class="form-control" [(ngModel)]="button.func" name="button_func_{{i}}">
                      <option value="SWITCH_FUNCT_SWITCH">Normal Switch (On/Off/Toggle)</option>
                      <option value="SWITCH_FUNCT_DIMM" disabled>Dimmer (Not implemented yet)</option>
                      <option value="SWITCH_FUNCT_SHUTTER">Shutter Control</option>
                      <option value="SWITCH_FUNCT_VALUE" disabled>Set Value (Not implemented yet)</option>
                      <option value="SWITCH_FUNCT_SCENE">Set Scene</option>
                    </select>
                </div>
                <div *ngIf="button.func == 'SWITCH_FUNCT_SWITCH'">
                  <div class="checkbox">
                    <nb-checkbox [(ngModel)]="button.sw_press_en" [ngModelOptions]="{standalone: true}">Enable Button Pressed Event</nb-checkbox>
                  </div>
                  <div *ngIf="button.sw_press_en" class="form-group">
                    <label>Function for Press</label>
                    <select class="form-control" [(ngModel)]="button.sw_cmd_press" name="button_sw_press_{{i}}">
                      <option value="SWITCH_MODE_OFF">Off</option>
                      <option value="SWITCH_MODE_ON">On</option>
                      <option value="SWITCH_MODE_TOGGLE">Toggle</option>
                    </select>
                  </div>
                  <div class="checkbox">
                    <nb-checkbox [(ngModel)]="button.sw_release_en" [ngModelOptions]="{standalone: true}">Enable Button Release Event</nb-checkbox>
                  </div>
                  <div *ngIf="button.sw_release_en" class="form-group">
                    <label>Function for Release</label>
                    <select class="form-control" [(ngModel)]="button.sw_cmd_release" name="button_sw_release_{{i}}">
                      <option value="SWITCH_MODE_OFF">Off</option>
                      <option value="SWITCH_MODE_ON">On</option>
                      <option value="SWITCH_MODE_TOGGLE">Toggle</option>
                    </select>
                  </div>
                </div>
                <div *ngIf="button.func == 'SWITCH_FUNCT_DIMM'">
                  <!-- Not implemented yet -->
                </div>
                <div *ngIf="button.func == 'SWITCH_FUNCT_SHUTTER'">
                  <div class="form-group">
                      <label>Shutter Mode</label>
                      <select class="form-control" [(ngModel)]="button.shutter_mode" name="button_shutter_mode_{{i}}">
                        <option value="SWITCH_SHUTTER_MODE_SLS">Short-Long-Short</option>
                        <option value="SWITCH_SHUTTER_MODE_LS">Long-Short</option>
                        <option value="SWITCH_SHUTTER_MODE_SL">Short-Long</option>
                        <option value="SWITCH_SHUTTER_MODE_LSS">Long-Short/Short</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label>Move direction</label>
                      <select class="form-control" [(ngModel)]="button.shutter_dir" name="button_shutter_dir_{{i}}">
                        <option value="SWITCH_DIRECTION_UP">Up</option>
                        <option value="SWITCH_DIRECTION_DOWN">Down</option>
                      </select>
                  </div>
                  <div class="form-group" [ngClass]="{'has-error': (!buttonshuttertime.valid && buttonshuttertime.touched), 'has-success': (buttonshuttertime.valid && buttonshuttertime.touched)}">
                    <label>Manual move time (in ms)</label>
                    <input type="number" min="1" max="60000" step="1" class="form-control" [(ngModel)]="button.shutter_time" name="button_shutter_time_{{i}}" #buttonshuttertime="ngModel">
                  </div>
                </div>
                <div *ngIf="button.func == 'SWITCH_FUNCT_VALUE'">
                  <!-- Not implemented yet -->
                </div>
                <div *ngIf="button.func == 'SWITCH_FUNCT_SCENE'">
                  <div class="form-group" [ngClass]="{'has-error': (!buttonsceneid.valid && buttonsceneid.touched), 'has-success': (buttonsceneid.valid && buttonsceneid.touched)}">
                    <label>SceneId</label>
                    <input type="number" min="1" max="60000" step="1" class="form-control" [(ngModel)]="button.sceneid" name="button_sceneid_{{i}}" #buttonsceneid="ngModel">
                  </div>
                </div>
                <div class="form-group">
                  <label>Button LED function</label>
                  <select class="form-control" [(ngModel)]="button.led" name="button_led_{{i}}">
                    <option value="NONE">No LED</option>
                    <option value="OFF">LED always off</option>
                    <option value="DEFAULT">Default LED useage</option>
                  </select>
                </div>
                <div class="checkbox">
                  <nb-checkbox [(ngModel)]="button.disabled" [ngModelOptions]="{standalone: true}">Disable Button function</nb-checkbox>
                </div>
            </div>
          </div>
          <div class="separator"></div>
          <div class="row">
            <div class="col-md-12 color-widget">
              <div class="section-block red-text"><p>{{servererror}}</p></div>
            </div>
            <div class="col-md-12">
              <button type="submit" class="btn btn-primary" [disabled]="!switchConfigForm.form.valid">Save</button>
              <button type="button" class="btn" (click)="cancelEdit()">Cancel</button>
            </div>
          </div>
      </form>
      </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
